body #root {
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: white;
    font-family: 'Nunito', sans-serif;
    overflow: hidden;
}

#appContainer {
    height: 100vh;
    margin: 0;
    padding: 0;
}

#sidebar {
    height: 100%;
    float: left;
}

.game {
  display: inline-block;
  position: relative;
  width: calc(100% - 280px);
  height: 100%;
  padding: 40px 100px;
}

.game-title {
    text-align: center;
    margin: 0 auto 3%;
    font-weight: bold;
}

.answer-button {
    min-width: 100%;
    background-color: white;
    border-radius: 16px;
    border: 2px solid #e5e5e5;
    border-bottom: 6px solid #e5e5e5;
    margin: 10px;
    transition: all 0.1s;
    display: inline-flex;
    padding: 12px 16px;
    cursor: default;
  }

.answer-button.disabled {
  pointer-events: none;
}

.answer-button:hover {
background-color: #ddf4ff;
border-color: #1cb0f6;
}

.answer-boxes {
  position: relative;
  height: 100%;
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 5%;
  right: 0.9%;
}

.answer-section {
  height: 100vh;
  position: relative;
}

.answer-button:active {
    border-bottom: 2px solid #1cb0f6;
}

.answer-choice {
    font-weight: bold;
    margin: auto auto;
}

.button-correct {
    background-color: green !important;
}

.button-false {
    background-color: red !important;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
    
    30%, 50%, 70% {
      transform: translate3d(-2px, 0, 0);
    }
    40%, 60% {
      transform: translate3d(2px, 0, 0);
    }
}


.settings-title {
  font-size: 20px;
  margin-bottom:10px;
}

#settings-menu {
  background-color: white;
  height: 100%;
}

#settings-toggle-btn {
  position: absolute ;
  bottom: 12px;
  right: 30px;
}
.settings-col {
  text-align: center;
  justify-content: center;
  margin-bottom: 20px;
}

.settings-bar {
  margin: 5px 10px 5px;
}

.settings-label-button {
  background-color: #D6E5FA !important;
  color: black !important;
  width: 150px;
  border: 1px solid grey !important;
  border-radius: 15px 0 0 15px !important;
  cursor: not-allowed;
  pointer-events: none;
}

.btn-check{
  border-radius: 0;
}

#playback {
  text-align: center;
}

.btn-toggle {
  background-color: white !important;
  text-align: center;
  width: 60px;
  border: 1px solid grey !important;
}

.btn-toggle.right {
  border-radius: 0 15px 15px 0 !important;
}

.btn-toggle.left {
  border-radius: 15px 0 0 15px !important;
}

.btn-toggle.left.interval {
  border-radius: 15px 0 0 15px !important;
  width: 60px !important;
  max-width: 60px !important;
}

.btn-toggle-active {
  background-color: #D6E5FA !important;
  text-align: center;
  width: 60px;
  border: 1px solid grey !important; 
}

.btn-toggle-active.right {
  border-radius: 0 15px 15px 0 !important;
  background-color: #D6E5FA !important;
  text-align: center;
  width: 60px;
}

.btn-toggle-active.left {
  border-radius: 15px 0 0 15px !important;
  background-color: #D6E5FA !important;
  text-align: center;
  width: 60px;
}

.btn-toggle.interval, .btn-toggle-active.interval{
  width: 60px !important;
  max-width: 60px !important;
  text-align: center !important;
}

.octave-label {
  margin-bottom: 8px;
}

.octave-checkbox {
  margin-right: 7px;
}

.warning-text {
  color: red;
  font-weight: bold;
  font-size: 16px;
  margin-top: 15px;
}

#scoreBoard {
  margin: 110px 30px 0 0;
}

.score-correct {
  color: green;
}

.score-incorrect {
  color: red;
}

#current-score {
  font-size: 38px;
  font-weight: bold;
}

#question-score {
  font-size: 20px;
}

.relative {
  position: relative;
}


#circle-btn {
  border: 2px solid black;
  border-radius: 50%;
  height: 150px;
  width: 150px;
}

.unclickable {
  pointer-events: none;
}

.red {
  background-color: rgb(161, 131, 131);
}
.blue {
  background-color: #D6E5FA;
}

#reset-score-btn {
  display: inline-block;
  position: absolute ;
  bottom: 12px;
  right: 85px;
}

.popup {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  left: calc((100% - 800px) / 2);
  top:calc((100% - 480px)/2);
  
}

/* The actual popup */
.popup .popuptext {
  width: 800px;
  height: 480px;
  visibility: hidden;
  color: black;
  text-align: center;
  border-radius: 10px;
  border: 4px solid black;
  background-color: white;
  padding: 8px 0;
  position: absolute;
  z-index: 1;
}

/* Toggle this class - hide and show the popup */
.popup .show {
  visibility: visible;
  -webkit-animation: fadeIn 0.5s;
  animation: fadeIn 0.5s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}


#settings-btn-group {
  margin: 2% auto 60px;
}

#close-settings-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}

#game-settings {
  height: 370px;
  /* padding-top: 45px; */
  justify-content: center;
  background: transparent;
}

#included-chord-btns {
  text-align: left;
  padding: 0 8% 0;
}

.difficulty-settings-btn-group {
  margin: 3% 0 1%;
}

.difficulty-settings-group {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: 20px;
}

.nav-link-icon {
  display: inline-block;
  width: 30px;
}

.nav-link {
  cursor: default;
}

.locked {
  color: grey !important;
}

#ear-trainer-logo {
  position: relative;
  left: -2px;
  margin: 0 5px 0 10px;
}

#included-intervals {
  justify-content: center;
  height: 350px;
  position: relative;
}

.synth-envelope {
  position: relative;
  left: 30px;
}

.interval-octave-btns {
  margin: 10px 0 30px;
}

#ex1Slider .slider-selection {
	background: #BABABA;
}

.range-slider__tooltip .range-slider__tooltip__label {
  visibility: hidden;
}

.synth-slider-label {
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  width: 100px;
  position: relative;
  bottom: 3px;
}

.synth-sliders {
  justify-content: center;
}

.synth-effect {
  margin: 1%;
  position: relative;
  right: 10%;
}

.unclickable {
  pointer-events: none;
}

.fa-7x {
  margin: 3%;
}

.fa-7x.active {
  color: rgb(53, 71, 236);
}

.card-title {
  margin: 2% auto 0;
  font-weight: bold;
}

.game-description {
  margin: 5% auto 2%;
}

.start-button {
    min-width: 300px;
    max-width: 600px;
    background-color: white;
    border-radius: 16px;
    border: 2px solid #e5e5e5;
    border-bottom: 6px solid #e5e5e5;
    transition: all 0.1s;
    text-align: center;
    padding: 12px 16px;
    margin : 0 auto;
    cursor: default;
  }

.start-button.disabled {
  pointer-events: none;
}

.start-button:hover {
background-color: #ddf4ff;
border-color: #1cb0f6;
}

.answer-button {
    min-width: 100%;
    background-color: white;
    border-radius: 16px;
    border: 2px solid #e5e5e5;
    border-bottom: 6px solid #e5e5e5;
    margin: 10px;
    transition: all 0.1s;
    display: inline-flex;
    padding: 12px 16px;
  }

.answer-button.disabled {
  pointer-events: none;
}

.answer-button:hover {
background-color: #ddf4ff;
border-color: #1cb0f6;
}

.game-button.game-card {
  min-width: 300px;
  max-width: 350px;
}

.game-button {
    background-color: white;
    border-radius: 16px;
    border: 2px solid #e5e5e5;
    border-bottom: 6px solid #e5e5e5;
    margin: 10px;
    transition: all 0.1s;
    padding: 12px 16px;
    text-align: center;
    cursor: default;
}

.game-button.disabled {
  pointer-events: none;
}

.game-button:hover {
background-color: #ddf4ff;
border-color: #1cb0f6;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 350px);
  grid-template-rows: repeat(2, 275px);
  grid-gap: 8px;
  justify-content: center;
}

#github-link {
  color: grey !important;
  text-decoration: none;
}

#feedback-link {
  color: grey !important;
  text-decoration: none;
  display: inline;
  text-align: right;
}

hr {
  border-top: 1px solid white !important;
}

.feedback-text {
  color: grey !important;
  text-decoration: none;
}

.feedback-grid {
  display: grid;
  grid-template-columns: repeat(3, 80px);
  justify-content: center;
  text-align: center;
}



.feedback {
  position: relative;
  display: inline-block;
  color: grey;
  cursor: default;
}

/* Tooltip text */
.feedback .feedback-popup-text {
  visibility: hidden;
  width: 240px;
  background-color: grey;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 2px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  left: 101px;
  bottom: -14px;
}

/* Show the tooltip text when you mouse over the tooltip container */
.feedback:hover .feedback-popup-text {
  visibility: visible;
}